@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
body {
  background: #167553;
  color: #FFFAF0;
  margin: 2rem;
}
h1, h2 {
  font-weight: bold;
  color: var(--primary-color);
  font-size: 1rem;
}
main {
  max-width: 50rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
main > h2 {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}
p > a {
  color: var(--primary-color);
  text-decoration: underline;
}

/* nav styles */
nav {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
}
nav a, nav span {
  color: #FFFAF0;
}
nav a:hover {
  color: #000000;
}
main nav {
  border: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
}

.linkGroup {
  margin-right: 20px;
}

.navLink {
  margin-right: 10px;
}

.mainTitle {
  margin-right: 20px;
}

.rootBody {
  width: 726px;
  margin: auto;
}

.mainTitle {
  font-size: 35px;
  font-weight: bold;
}